*.bin
*.vsidx
*.suo
*.v2
InvestmentTracking.Business/bin/Debug
InvestmentTracking.Business/obj/Debug
InvestmentTracking.Data/bin/Debug
InvestmentTracking.Data/obj/Debug
InvestmentTrackingApp.Server/bin/Debug
InvestmentTrackingApp.Server/obj/Debug
.vs/InvestmentTrackingApp/v17/DocumentLayout.backup.json
.vs/InvestmentTrackingApp/v17/DocumentLayout.json
.vs/InvestmentTrackingApp/v17/DocumentLayout.json
.vs/InvestmentTrackingApp/v17/DocumentLayout.backup.json
.vs/InvestmentTrackingApp/v17
BusinessData/obj/Debug
InvestmentTrackingApp.Server/obj
InvestmentTracking.Business/obj
BusinessData/bin/Debug
InvestmentTracking.Tests/bin
InvestmentTracking.Tests/obj/Debug
InvestmentTrackingApp.Server/bin/Release
InvestmentTracking.Tests/obj/Release
BusinessData/obj/Release
InvestmentTracking.Business/bin/Release
InvestmentTracking.Data/obj/Release
.vs/InvestmentTrackingApp/CopilotIndices/0.2.1634.3922
.vs/InvestmentTrackingApp/copilot-chat/84bb1b2c/sessions
BusinessData/bin/Release
InvestmentTracking.Data/bin/Release
investmenttrackingapp.client/obj/Release
.vs/InvestmentTrackingApp/v17
InvestmentTracking.BusinessData/bin/Debug
InvestmentTracking.BusinessData/bin/Debug
InvestmentTracking.BusinessData/bin/Debug
InvestmentTracking.BusinessData/bin/Debug/net8.0
InvestmentTracking.BusinessData/bin
InvestmentTracking.BusinessData/obj/Debug
InvestmentTracking.BusinessData/bin/Debug
